.navbar-header {
  padding: 0;
  background: #fff;
}

.wrapperHeader {
  max-width: 1320px;
  padding: 0 12px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.wrapperLogoAndBtn {
  margin: 0 20px 0 0;
}

.wrapperLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
}

.logo {
  width: 50px;
  height: 50px;
}

.textHeader {
  font-size: 14px;
  margin-left: 10px;
  color: #2862AC;
  line-height: 15px;
}
.textHeader .active {
  border-bottom: 1px solid #fff;
}

.navbar-nav {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  margin: 0 auto;
}
.navbar-nav .nav-item {
  margin: 0 24px 0 0;
}
.navbar-nav .nav-item:last-child {
  margin: 0;
}
.navbar-nav .nav-item .nav-link {
  font-weight: normal;
  color: #0E0E0E;
  padding: 29.7px 0;
  position: relative;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.navbar-nav .nav-item .nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: transparent;
}
.navbar-nav .nav-item .nav-link.active {
  color: #2862AC;
  font-weight: 500;
}
.navbar-nav .nav-item .nav-link.active::before {
  background: #2862AC;
}
.navbar-nav .nav-item.show .dropdown-toggle {
  font-weight: 500;
}
.navbar-nav .nav-item.show .dropdown-toggle::before {
  background: #2862AC;
}
.navbar-nav .nav-item.show .dropdown-toggle:after {
  border-top-color: #2862AC;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.form-group {
  margin: 0;
}

.dropdown-menu {
  min-width: 303px;
  max-width: 100%;
  width: 100%;
  border: none;
  border-radius: 12px;
  background: #FFF;
  -webkit-box-shadow: 0px 4px 54px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 54px 0px rgba(0, 0, 0, 0.1);
  margin: 20px 0 0;
  padding: 12px;
}
.dropdown-menu .scroll-vertical {
  max-height: 174px;
  overflow-y: auto;
  padding: 0 12px 0 0;
}

.dropdown-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dropdown-toggle::after {
  margin-left: 2px;
  vertical-align: inherit;
  border-top: 6px solid #0E0E0E;
  border-right: 3px solid transparent;
  border-bottom: 0;
  border-left: 3px solid transparent;
}

.dropdown-item {
  color: #5A5A5A;
  font-size: 14px;
  font-weight: 300;
  padding: 8px 0;
  border-bottom: 2px solid #E5E7EA;
  background: #FFF;
}
.dropdown-item:first-child {
  border-top: 2px solid #E5E7EA;
}
.dropdown-item:hover {
  background: #fff;
  color: #2862AC;
}

.phoneHeader {
  text-align: right;
  color: #5A5A5A;
}
.phoneHeader a {
  font-size: 16px;
  font-weight: 500;
  text-decoration-line: underline;
  color: #2862AC;
  margin: 0 0 8px auto;
}
.phoneHeader a:hover {
  color: #007BFF;
}

.navbar-light .navbar-toggler {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 4px;
  background: #2862AC;
  padding: 7px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar-toggler-icon {
  width: 100%;
  height: 100%;
}

.navbar-light .navbar-toggler-icon {
  background: url("../img/burger.svg") no-repeat center;
  background-size: 100%;
}

.search-fixed {
  background: rgba(14, 14, 14, 0.5);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1031;
}
.search-fixed .title-wraper {
  margin: 0 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.search-fixed .h3 {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 120%;
  font-weight: 400;
  margin: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.search-fixed__content {
  position: relative;
  max-width: 856px;
  width: 100%;
  background-color: #fff;
  border-radius: 12px;
  margin: auto;
  padding: 24px;
}
.search-fixed__text {
  margin: 24px 0 0;
  position: relative;
  width: 100%;
  border-radius: 12px;
  background: #F4F6F8;
  padding: 24px 101px 24px 24px;
  z-index: 1;
}
.search-fixed__text .h4 {
  margin: 0 0 14px;
  font-size: 18px;
  font-weight: 500;
}
.search-fixed__text .box-text {
  color: #0E0E0E;
  font-size: 12px;
  line-height: 160%;
}
.search-fixed__text::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 101px;
  height: 100%;
  background: url("../img/warning.svg") no-repeat right center;
  background-size: contain;
}

.progressbar {
  width: 100%;
  position: relative;
  height: 12px;
  border-radius: 100px;
  background: rgba(133, 133, 133, 0.2);
  overflow: hidden;
}
.progressbar__bg {
  border-radius: 100px 0px 0px 100px;
  background: #2862AC;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.progressbar__value {
  margin: 0 0 0 auto;
  font-size: 18px;
  color: #2862AC;
  text-transform: uppercase;
  line-height: 120%;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.welcome-text {
  margin: 17px 0 0;
  position: relative;
}
.welcome-text .box-text {
  opacity: 0;
  height: 0;
  visibility: hidden;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.welcome-text .box-text.active {
  opacity: 1;
  visibility: visible;
  height: auto;
}