@charset "UTF-8";
/*==========	Desktop First	==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1350px) {
  .navbar-nav {
    font-size: 14px;
  }
  .navbar-nav .nav-item {
    margin: 0 15px 0 0;
  }
  .phoneHeader {
    font-size: 12px;
  }
  .dropdown-menu {
    min-width: 260px;
    max-width: 260px;
  }
  .application-advantages-list li {
    margin: 0 0 15px;
  }
  .application-advantages-list li:last-child {
    margin: 0;
  }
  .application-section__images {
    width: 615px;
  }
  .application-section__images::before {
    width: 700px;
    height: 300px;
  }
  .application-section .application-links {
    bottom: 140px;
  }
  .application-qr {
    width: 174px;
    bottom: 53px;
    left: -109px;
  }
  .application-mobile {
    max-width: 320px;
  }
  .advantages-card__img {
    max-width: 100px;
  }
  .cardWhiteForForm__image {
    max-width: 450px;
  }
  .cardWhiteForForm__image .box-text {
    max-width: 400px;
  }
  .cardWhiteForForm__content {
    width: calc(100% - 450px);
  }
  .infoDebts .btn-group .btn {
    padding: 10px 15px;
  }
  .btn-group .btn {
    margin: 0 12px 0 0;
  }
  .btn-group .btn:last-child {
    margin: 0;
  }
}
@media only screen and (max-width: 1199px) {
  .tooltip-box {
    min-width: 303px;
    max-width: 303px;
    padding: 14px 44px 14px 14px;
  }
  .tooltip-box__close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .blockCheck-box__icon {
    max-width: 119px;
  }
  .causes .card-icon {
    padding: 20px 10px;
    border-radius: 0;
  }
  .causes .card-icon::before {
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 12px 30% 30% 12px;
  }
  .application-section__images {
    width: 500px;
    margin: auto auto 0;
  }
  .application-section__images::before {
    width: 100%;
    height: 220px;
    right: 0;
    background-position: center top;
  }
  .application-mobile {
    max-width: 250px;
    margin: 0 0 0 121px;
  }
  .application-qr {
    bottom: 45px;
    left: -52px;
  }
  .application-section .application-links {
    width: 130px;
    right: 0;
    bottom: 100px;
  }
  .application-section__content {
    padding: 40px 24px;
  }
  .payments-advantages__image {
    max-width: 400px;
    margin: -64px auto 0;
    height: auto;
  }
  .payments-advantages__image img {
    padding: 7px 7px 0 7px;
  }
  .payments-advantages__image::before {
    width: 500px;
    height: 250px;
  }
  .payments-advantages__content {
    padding: 24px 14px;
  }
  .payments-advantages .descCardsInfo {
    margin: 14px 0 24px;
    max-width: none;
  }
  .page-payments {
    background-size: 400px;
  }
  .add-payment {
    margin: 14px 0 0;
    width: 100%;
  }
  .departmens-box__head {
    padding: 24px 14px;
  }
  .departmens-box__body {
    padding: 24px 14px;
  }
  .page-result::before {
    width: 500px;
    right: 0;
  }
  .wrapperWarningZapret::before {
    width: 70px;
    height: 95px;
  }
}
@media only screen and (max-width: 991px) {
  .navbar-light .navbar-toggler {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .wrapperLogoAndBtn {
    margin: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar-header {
    padding: 12px 0;
  }
  .navbar-header .navbar-collapse {
    position: absolute;
    width: calc(100% + 30px);
    left: 50%;
    top: 100%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    background: #fff;
    padding: 0 0 40px;
  }
  .navbar-header .navbar-collapse::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    height: 2px;
    width: calc(100% + 30px);
    background: #2862AC;
  }
  .navbar-header .phoneHeader {
    display: none;
  }
  .wrapperHeader {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .navbar-nav {
    font-size: 14px;
  }
  .navbar-nav .nav-item {
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
  }
  .navbar-nav .nav-item.show .nav-link {
    font-weight: normal;
  }
  .navbar-nav .nav-item .nav-link {
    padding: 16px 0;
    width: 100%;
    text-align: right;
    border-bottom: 2px solid #E5E7EA;
    font-weight: normal;
  }
  .navbar-nav .nav-item .nav-link::before {
    display: none;
  }
  .navbar-nav .nav-item .nav-link.active {
    border-color: #2862AC;
    font-weight: normal;
  }
  .navbar-nav .dropdown-toggle {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .navbar-nav .dropdown-menu {
    max-width: none;
    margin: 24px 0 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0;
    padding: 0 0 18px;
    border-bottom: 2px solid #E5E7EA;
  }
  .navbar-nav .dropdown-menu .scroll-vertical {
    max-height: 155px;
  }
  .navbar-nav .dropdown-item {
    padding: 6px 12px;
  }
  .home {
    margin: 0;
    padding: 0 0 54px;
  }
  .debtОfBailiffs {
    padding: 14px;
    margin: 0 0 24px;
  }
  .blockCheck-box {
    width: 49%;
    max-width: none;
    margin: 0 auto 14px 0;
  }
  .blockCheck-box:last-child {
    margin: 0 0 14px;
  }
  .formDescIndividual {
    padding: 14px 21px 14px 14px;
    margin: 48px 0 0;
    position: relative;
    z-index: 1;
    overflow: visible;
  }
  .formDescIndividual::after {
    content: "";
    position: absolute;
    left: 0;
    top: -24px;
    width: 100%;
    height: 2px;
    background: #2862AC;
  }
  .home::before {
    display: none;
  }
  .application-section .cardWhite {
    padding: 24px 14px;
  }
  .application-section .application-links {
    position: relative;
    margin: 24px auto;
    width: 100%;
    max-width: none;
    bottom: 0;
    left: 0;
    top: 0;
    background: transparent;
    border-radius: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .application-section .application-links__item {
    width: 92px;
    margin: 0 14px 0 0;
  }
  .application-section .application-links__item:last-child {
    margin: 0;
  }
  .application-section__images {
    margin: -73px auto 24px;
    overflow: hidden;
    width: 100%;
  }
  .application-section__images::before {
    border-radius: 305px;
    background: #2862AC;
    width: 304px;
    height: 304px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .application-section__content {
    padding: 0;
  }
  .application-section .titleCardsInfo {
    margin: 0 0 24px;
  }
  .titleCardsInfo {
    margin: 0 0 24px;
  }
  .application-qr {
    display: none;
  }
  .application-mobile {
    max-width: 215px;
    height: 289px;
    margin: 0 auto;
  }
  .ulRegions {
    -webkit-column-count: 5;
       -moz-column-count: 5;
            column-count: 5;
  }
  .wrapperDownFooter {
    padding: 36px 0;
  }
  .page-payments {
    background: transparent;
  }
  .list-requisites ul {
    width: 100%;
  }
  .list-requisites ul:last-child {
    border-top: 2px solid #E5E7EA;
  }
  .list-requisites ul:last-child li p {
    min-width: 150px;
    max-width: 150px;
  }
  .list-requisites ul li p {
    min-width: 150px;
    max-width: 150px;
  }
  .infoDebtsReport {
    margin: 36px 0 0;
  }
  .nameInTable {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
  }
  .table {
    font-size: 12px;
  }
  .itemTableTravelBan {
    padding: 14px 0;
  }
  .progress-wrapper {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: 0 0 14px;
    width: 100%;
  }
  .examination h1 {
    margin: 0 0 14px;
  }
  .examination .title-wrapper {
    margin: 0 0 24px;
  }
  .table-row {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .wrapperWarningZapret {
    margin: 24px 0 0;
  }
  .page-result::before {
    display: none;
  }
  .advantages-card__img {
    display: none;
  }
  .advantages-card .h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .advantages-card .h3 img {
    margin: 0 14px 0 0;
  }
  .advantages-card .box-text {
    max-width: none;
  }
  .cardWhiteForForm__image {
    max-width: 304px;
    height: 152px;
    position: relative;
    left: 0;
    bottom: 0;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: -86px auto 20px;
  }
  .cardWhiteForForm__image .box-text {
    font-size: 13px;
    padding: 8px 15px;
    max-width: 276px;
  }
  .cardWhiteForForm__content {
    width: 100%;
    padding: 0;
  }
  .information-credits-not {
    margin: 0 auto 36px;
  }
  .safeConnection {
    width: 100%;
    max-width: none;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 14px auto 0;
    text-align: center;
    font-size: 12px;
  }
  .safeConnection span {
    max-width: none;
  }
  .wrapperPlashkaInfo {
    width: 100%;
  }
  .wrapperPlashka {
    padding: 24px 0;
  }
  .wrapperPlashka .btn {
    max-width: none;
    margin: 36px auto 0;
  }
  .information-credits {
    margin: 64px 0 110px;
  }
  .search-fixed__content {
    max-width: 700px;
  }
  .wrapperIconsContact {
    max-width: 33%;
    margin: 0 auto 24px 0;
  }
  .wrapperIconsContact:last-child {
    margin: 0 0 24px;
  }
}
@media only screen and (max-width: 768px) {
  .causes .card {
    padding: 14px;
  }
  .causes .card-icon {
    position: absolute;
    left: 14px;
    top: 14px;
    width: 64px;
    padding: 0;
    border-radius: 0;
  }
  .causes .card-icon::before {
    display: none;
  }
  .causes .card-icon img {
    -webkit-filter: none;
            filter: none;
  }
  .causes .card-body {
    width: 100%;
    padding: 0;
  }
  .titleCardDebtFCCP {
    padding: 0 0 0 78px;
    width: 100%;
    min-height: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .questionInAnswerAndQuestion {
    font-size: 16px;
  }
  .descCardsInfo {
    font-size: 14px;
    line-height: 130%;
  }
  .regions .cardWhite {
    padding: 24px 14px;
  }
  .regions .titleCardsInfo {
    margin: 0 0 14px;
  }
  .toggle-regions {
    margin: 0 0 24px;
  }
  .ulRegions-wrapper {
    padding: 24px 0 0;
  }
  .ulRegions {
    -webkit-column-count: 4;
       -moz-column-count: 4;
            column-count: 4;
  }
  .wrapperContactFooter {
    margin: 36px 0 0;
  }
  .contentTextNameDownFooter {
    margin: 24px 0 14px;
  }
  footer .application-links__item {
    width: 110px;
  }
  .wrapperPaymentsFooter {
    margin: 36px 0 0;
    padding: 36px 0;
  }
  .fault-box {
    background-size: 300px;
  }
  .page-report {
    margin: 48px 0;
  }
  .statistics-online .descCardsInfo {
    margin: 0 0 24px;
  }
  .form-bailiff__price {
    text-align: left;
    font-size: 14px;
    padding: 14px;
  }
  .form-bailiff__price strong {
    display: block;
    margin: 8px 0 0;
  }
  .formDescTravelBan {
    padding: 14px;
    background: #F4F6F8;
  }
  .modal-title {
    font-size: 16px;
  }
  .modal-content {
    padding: 24px 14px;
  }
  .infoDebts .btn-group .btn {
    margin: 0 0 24px;
    width: 100%;
  }
  .infoDebts .btn-group .btn:last-child {
    margin: 0;
  }
  .information-credits-not {
    padding: 24px;
  }
  .information-credits-not .h3 {
    font-size: 18px;
    line-height: 150%;
  }
  .search-fixed__content {
    max-width: 550px;
  }
}
@media only screen and (max-width: 576px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 26px;
    margin: 0 0 14px;
  }
  .h3 {
    font-size: 18px;
  }
  .box-text, .descHome {
    font-size: 14px;
    line-height: 140%;
  }
  .content {
    padding: 36px 0 0;
  }
  .wrapperRadioHome {
    display: none;
  }
  .blockCheck-box {
    width: 100%;
  }
  .formDescIndividual::before {
    width: 101px;
    height: 100%;
    bottom: auto;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .dropdown-menu {
    min-width: auto;
    max-width: 100%;
  }
  .payments-advantages__image {
    max-width: 259px;
  }
  .payments-advantages__image::before {
    width: 304px;
    height: 152px;
  }
  .payments-advantages-box {
    margin: 0 0 14px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .payments-advantages-box__icon {
    margin: 0 0 8px;
  }
  .payments-advantages-box__body {
    width: 100%;
    padding: 0;
  }
  .ulRegions {
    font-size: 14px;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
  }
  .ulRegions li {
    margin: 0 0 24px;
    display: none;
  }
  .ulRegions li:nth-child(-n+36) {
    display: block;
  }
  .ulRegions li:nth-child(-n+24) {
    display: block;
  }
  .titleCardsInfo {
    margin: 0 0 14px;
  }
  .question .descCardsInfo {
    margin: 0 0 24px;
  }
  .question-item {
    padding: 24px 14px;
  }
  .question-item__link {
    margin: 14px 0 0;
    font-size: 14px;
  }
  .question-item h3 {
    font-size: 16px;
  }
  footer {
    margin: 64px 0 0;
    padding: 40px 0 0;
  }
  .wrapperSectionsFooter {
    margin: 36px 0 0;
  }
  .documentsLinks {
    margin: 24px 0 0;
  }
  .contentTextDownFooter {
    margin: 0 0 24px;
  }
  .fault-box {
    background: #fff url(../img/404-mobile.svg) no-repeat right 24px;
    background-size: 188px;
    padding: 24px 14px;
  }
  .fault-box .box-text {
    max-width: none;
    font-size: 14px;
    line-height: 160%;
  }
  .fault-box .box-text p {
    margin: 0 0 12px;
  }
  .fault-box .box-text p:last-child {
    margin: 0;
  }
  .breadcrumbs {
    margin: 0 0 36px;
  }
  .general-box {
    padding: 24px 14px;
  }
  .oferta-box .box-text {
    font-size: 14px;
  }
  .oferta-box .titleHome {
    font-size: 20px;
  }
  .site-contact-box {
    padding: 24px 14px;
  }
  .technical-box {
    padding: 24px 14px;
    background: #fff url(../img/settings-mobile.svg) no-repeat right top;
    background-size: 143px;
  }
  .technical-box .box-text {
    font-size: 14px;
  }
  .technical-box .btn {
    width: 100%;
  }
  .technical-box .btn-group .btn {
    margin: 0 0 12px;
  }
  .technical-box .btn-group .btn:last-child {
    margin: 0;
  }
  .page-payments .titleHome {
    font-size: 24px;
  }
  .page-payments .box-text, .page-payments .application-advantages-list {
    font-size: 14px;
  }
  .list-requisites ul:last-child li p {
    min-width: auto;
    max-width: 100%;
  }
  .list-requisites ul li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 14px;
  }
  .list-requisites ul li p {
    min-width: auto;
    max-width: 100%;
    width: 100%;
    margin: 0 0 14px;
  }
  .wrapperUserInfoReport ul li {
    line-height: 150%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapperUserInfoReport ul li .tooltip-wrapper {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: 0 8px 0 0;
  }
  .infoDebtsReport .h4 {
    margin: 24px 0;
  }
  .infoDebtsReport .tooltip-box {
    left: 0;
    -webkit-transform: none;
            transform: none;
  }
  .wrapperWarning {
    padding: 24px 14px;
  }
  .wrapperWarning::before {
    display: none;
  }
  .cardWarning::before {
    display: none;
  }
  .cardWarning .box-text ul {
    font-size: 14px;
  }
  .cardWarning-total {
    padding: 24px 20px;
  }
  .progress-steps {
    font-size: 14px;
  }
  .table, .nameInTable {
    font-size: 9px;
  }
  .nameInTable {
    border-radius: 0;
  }
  .statistics-online {
    margin: 64px 0 119px;
  }
  .btnViewExample {
    position: relative;
    margin: 24px auto 0;
    bottom: 0;
    left: 0;
    -webkit-transform: none;
            transform: none;
  }
  .wrapperImgPrimerOtcheta img {
    padding: 6px 6px 0;
  }
  .wrapperImgPrimerOtcheta::before {
    bottom: 68px;
  }
  .payments-advantages .wrapperWarning {
    padding: 14px;
    background: #F4F6F8;
  }
  .sample-report .payments-advantages__content {
    padding: 24px 14px;
  }
  .how-to-check .box-text {
    margin: 0 0 24px;
  }
  .descCardsCheckBan .box-text {
    margin: 0;
  }
  .types-checks {
    padding: 24px 14px 12px;
  }
  .checked-box {
    margin: 0 0 17px;
    font-size: 14px;
  }
  .types-checks .h3 {
    font-size: 16px;
  }
  .wrapperWarningZapret {
    margin: 24px 0 0;
    padding: 24px 14px;
  }
  .wrapperWarningZapret::before {
    width: 46px;
    height: 46px;
    left: 14px;
    top: 24px;
    right: auto;
    background: url("../img/warning3-mobile.svg") no-repeat center;
    background-size: 100%;
  }
  .wrapperWarningZapret .h3 {
    padding: 0 0 0 54px;
  }
  .wrapperWarningZapret .h3 strong {
    display: block;
  }
  .wrapperWarningZapret .box-text {
    margin: 14px 0;
  }
  .types-checks-item {
    font-size: 14px;
  }
  .cardWhiteForForm .btn {
    width: 100%;
  }
  .debtОfBailiffs .title-wrapper {
    margin: 0 0 24px;
  }
  .modal-dialog {
    margin: 20px auto;
  }
  .search-fixed__content {
    padding: 24px 14px;
    max-width: 332px;
  }
  .search-fixed .h3 {
    max-width: 203px;
    font-size: 16px;
  }
  .search-fixed__text {
    padding: 14px;
  }
  .search-fixed__text::before {
    display: none;
  }
  .wrapperIconsContact {
    padding: 24px 14px;
    max-width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .tibrr-cookie-consent {
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: none;
    border-radius: 0;
  }
  .tibrr-cookie-consent-container {
    padding: 24px 28px 24px 24px;
  }
  .tibrr-cookie-consent-icon {
    right: -35px;
  }
}
@media only screen and (max-width: 370px) {
  .application-section .application-links__item {
    width: 82px;
    margin: 0 10px 0 0;
  }
  .payments-advantages__image {
    max-width: 230px;
  }
  .payments-advantages__image::before {
    width: 270px;
    height: 135px;
  }
}
@media only screen and (max-width: 350px) {
  .tibrr-cookie-consent-icon {
    right: -55px;
  }
  .tibrr-cookie-consent-container {
    padding: 24px;
  }
  .application-section__images::before {
    width: 260px;
    height: 260px;
  }
  .breadcrumbs {
    font-size: 14px;
  }
  .oferta-box h1 {
    font-size: 20px;
  }
  .departmens-box .sum-value {
    font-size: 20px;
  }
  .tooltip-box {
    min-width: 250px;
    max-width: 250px;
  }
  .table-row {
    padding: 0 10px;
  }
  .cardWhiteForForm__image {
    height: auto;
    max-width: 270px;
  }
  .cardWhiteForForm__image .box-text {
    max-width: 220px;
  }
}