.page-region, .section-region {
  background: transparent;
  margin: 0;
}
.page-region .titleHome, .section-region .titleHome {
  margin: 0 0 24px;
  padding: 0 0 24px;
  font-weight: normal;
}
.page-region .descHome, .section-region .descHome {
  max-width: 1003px;
  margin: 0 0 36px;
}

.page-region .titleHome {
  padding: 0;
}

.wrapperIconsContact {
  width: 100%;
  background: #fff;
  margin: 0 0 20px;
  padding: 20px 14px;
  border-radius: 12px;
}
.wrapperIconsContact:last-child {
  margin: 0;
}
.wrapperIconsContact a {
  font-size: 24px;
  font-weight: 300;
  text-decoration: underline;
  text-transform: uppercase;
  color: #2862AC;
}
.wrapperIconsContact a:hover {
  color: #007BFF;
}
.wrapperIconsContact .box-text {
  font-size: 16px;
  font-weight: 300;
  color: #5A5A5A;
  line-height: 130%;
}

.wrapperIconsContactTitle {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 13px;
}

.form-departmens button {
  margin: 8px 0 0;
}
.form-departmens button svg {
  fill: #fff;
  width: 12px;
  height: 12px;
  margin: 0 0 0 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#pjax-phones {
  padding: 0;
}

.application-section-v2 {
  margin: 109px 0 64px;
}