.page-report {
  margin: 64px 0;
}

.greenBorderReport {
  margin: 0 0 64px;
}

h1 {
  margin: 0 0 36px;
}

h2.titleHome {
  padding: 0 0 24px;
  margin: 0 0 24px;
  border-bottom: 2px solid #5A5A5A;
}

.general-box .box-text strong {
  color: #0E0E0E;
  font-weight: 500;
}
.general-box .titleHome strong {
  font-weight: bold;
}

.wrapperUserInfoReport ul {
  line-height: 100%;
}
.wrapperUserInfoReport ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 0 24px;
}
.wrapperUserInfoReport ul li strong {
  font-weight: 500;
}
.wrapperUserInfoReport ul li:last-child {
  margin: 0;
}
.wrapperUserInfoReport ul li p span {
  margin: 0 5px 0 0;
}
.wrapperUserInfoReport ul li .tooltip-wrapper {
  margin: 0 0 0 8px;
  display: inline-block;
}

.infoDebtsReport {
  padding: 24px;
  border-radius: 12px;
  background: #F4F6F8;
}
.infoDebtsReport .h4 {
  margin: 15px 0 18px;
  text-transform: none;
}
.infoDebtsReport .btn {
  width: 100%;
}

.wrapperWarning {
  background: #F4F6F8;
  padding: 24px;
  border-radius: 12px;
  margin: 24px 0 0;
  position: relative;
}
.wrapperWarning::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 103px;
  height: 164px;
  background: url(../img/law.svg) no-repeat center;
  background-size: 100%;
  opacity: 0.1;
}
.wrapperWarning .box-text {
  max-width: 1078px;
}
.wrapperWarning__footer {
  width: 100%;
  margin: 24px 0 0;
  padding: 24px 0 0;
  border-top: 2px solid #5A5A5A;
}
.wrapperWarning__footer .box-text {
  max-width: none;
  color: #000;
}

.departmens-box__title {
  text-transform: none;
}

.warning-section {
  margin: 40px 0 0;
}

.cardWarning {
  width: 100%;
  border-radius: 12px;
  border: 8px solid #D92A2A;
  background: #AB4040;
  position: relative;
  z-index: 1;
  color: #fff;
  padding: 24px;
}
.cardWarning ul {
  line-height: 160%;
}
.cardWarning .box-text {
  color: #fff;
}
.cardWarning::before {
  content: "";
  position: absolute;
  right: 0;
  top: 16px;
  width: 376px;
  height: 506px;
  background: url(../img/warning2.svg) no-repeat center;
  background-size: 100%;
  opacity: 0.1;
}
.cardWarning .application-advantages-list::before {
  height: calc(100% - 14px);
}
.cardWarning .application-advantages-list li {
  margin: 0 0 14px;
}
.cardWarning .application-advantages-list li:last-child {
  margin: 0;
}
.cardWarning .application-advantages-list li::before {
  top: 5px;
}

.cardWarning-total {
  width: 100%;
  padding: 24px;
  border-radius: 12px;
  background: #FFF;
}
.cardWarning-total .box-text {
  color: #AB4040;
  font-weight: normal;
}

.departmens-box-item .h3 {
  text-transform: none;
}

.departmens-box-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.departmens-box-form label {
  max-width: 270px;
  width: 100%;
}
.departmens-box-form.checked::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 34px;
  min-width: 34px;
  height: 34px;
  margin: 0 0 0 11px;
  background: url("../img/checked-form.svg") no-repeat center;
  background-size: 100%;
}