@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Ubuntu", sans-serif;
  font-weight: normal;
  background: #F4F6F8;
  color: #0E0E0E;
}

html, body {
  overflow-x: hidden;
  height: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

a {
  display: block;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  outline: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
a:hover, a:focus {
  text-decoration: none;
}

input, textarea, select, .form-control {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid rgba(90, 90, 90, 0.5);
  background: #FFF;
  width: 100%;
  height: 36px;
  color: #0E0E0E;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-weight: 300;
  box-shadow: none;
  cursor: pointer;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder, .form-control::-webkit-input-placeholder {
  color: rgba(90, 90, 90, 0.5);
}
input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder, .form-control::-moz-placeholder {
  color: rgba(90, 90, 90, 0.5);
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder, .form-control:-ms-input-placeholder {
  color: rgba(90, 90, 90, 0.5);
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder, .form-control::-ms-input-placeholder {
  color: rgba(90, 90, 90, 0.5);
}
input::placeholder, textarea::placeholder, select::placeholder, .form-control::placeholder {
  color: rgba(90, 90, 90, 0.5);
}
input:hover, textarea:hover, select:hover, .form-control:hover {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: rgba(90, 90, 90, 0.5);
  border: 1px solid #007BFF;
}
input:focus, textarea:focus, select:focus, .form-control:focus {
  color: #0E0E0E;
  border: 1px solid #007BFF;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
input:disabled, textarea:disabled, select:disabled, .form-control:disabled {
  background: transparent;
  cursor: inherit;
}
input:disabled:hover, textarea:disabled:hover, select:disabled:hover, .form-control:disabled:hover {
  color: #0E0E0E;
}

label {
  display: block;
  position: relative;
  width: 100%;
}

.input-title {
  width: 100%;
  min-height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 4px;
  color: #0E0E0E;
  font-size: 12px;
  font-weight: 300;
  line-height: 100%;
}
.input-title__text {
  margin: 0 0 0 auto;
}
.input-title sup {
  font-weight: bold;
  margin: 0px 0 -10px 2px;
}

[type=radio], [type=checkbox] {
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
}

textarea {
  resize: none;
  padding: 12px 17px;
  height: 103px;
}

.error-label ~ input {
  border: 1px solid #D92A2A;
  color: #5A5A5A;
}
.error-label ~ input::-webkit-input-placeholder {
  color: #5A5A5A;
}
.error-label ~ input::-moz-placeholder {
  color: #5A5A5A;
}
.error-label ~ input:-ms-input-placeholder {
  color: #5A5A5A;
}
.error-label ~ input::-ms-input-placeholder {
  color: #5A5A5A;
}
.error-label ~ input::placeholder {
  color: #5A5A5A;
}
.error-label ~ input:hover, .error-label ~ input:focus {
  border: 1px solid #D92A2A;
}
.error-label .error-box {
  display: block;
}

.error-box {
  margin: 4px 0 0;
  width: 100%;
  color: #D92A2A;
  font-size: 12px;
  font-weight: 300;
  line-height: 100%;
}

button, .btn {
  outline: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Ubuntu", sans-serif;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
}
button:hover, button:focus, .btn:hover, .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  height: 44px;
  border-radius: 8px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.btnSearch, .btn-accent {
  color: #fff;
  background: #2862AC;
}
.btnSearch:hover, .btn-accent:hover {
  background: #007BFF;
  color: #fff;
}
.btnSearch:focus, .btnSearch.active, .btn-accent:focus, .btn-accent.active {
  background: #007BFF;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 123, 255, 0.4);
          box-shadow: 0px 0px 14px 0px rgba(0, 123, 255, 0.4);
  color: #fff;
}
.btnSearch.disabled, .btn-accent.disabled {
  background: #5A5A5A;
  color: #fff;
}

.btn-border {
  border: 1px solid #2862AC;
  color: #2862AC;
  background: #fff;
}
.btn-border:hover {
  background: #2862AC;
  color: #fff;
}
.btn-border:hover .svg-icon {
  fill: #fff;
}
.btn-border:focus, .btn-border.active {
  background: #007BFF;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 123, 255, 0.4);
          box-shadow: 0px 0px 14px 0px rgba(0, 123, 255, 0.4);
  color: #fff;
  border-color: #007BFF;
}
.btn-border.disabled {
  border: 1px solid #5A5A5A;
  background: #FFF;
  color: #5A5A5A;
}
.btn-border .svg-icon {
  width: 13px;
  height: 12px;
  margin: 0 0 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #2862AC;
}
.btn-border .svg-icon-prev {
  margin: 0 8px 0 0;
}

.btn-group {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.btn-group .btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 24px 0 0;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.btn-group .btn:last-child {
  margin: 0;
}

.btn-group > .btn-group:not(:last-child) > .btn, .btn-group > .btn:not(:last-child):not(.dropdown-toggle), .btn-group > .btn-group:not(:first-child) > .btn, .btn-group > .btn:not(:first-child) {
  border-radius: 8px;
}

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
}

strong, b {
  font-weight: bold;
  display: inline;
}

ul, ol {
  padding: 0 0 0 20px;
}

.my-ul {
  list-style: none;
  padding: 0;
}

.list-dots {
  list-style-type: disc;
}

h1 {
  font-size: 36px;
  text-transform: uppercase;
}

.content h1 {
  margin: 0 0 24px;
}

h2 {
  font-size: 32px;
  text-transform: uppercase;
  margin: 0 0 24px;
}

.h3 {
  font-size: 24px;
  font-weight: 500;
  width: 100%;
}

.h4 {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 24px;
  text-transform: uppercase;
}

.input-dropdown, .dropdown-toggle-tab {
  background: #FFF url("../img/arrow-bottom.svg") no-repeat calc(100% - 10px) center;
  background-size: 8px;
  width: 100%;
}

.dropdown-toggle-tab {
  text-align: left;
  font-weight: 300;
  padding: 5px 10px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid rgba(90, 90, 90, 0.5);
  color: #5A5A5A;
  height: auto;
}
.dropdown-toggle-tab:after {
  display: none;
}
.dropdown-toggle-tab:fosus, .dropdown-toggle-tab:hover {
  font-weight: 300;
  color: #2862AC;
}

.descCardsInfo {
  color: #5A5A5A;
  font-weight: 300;
  margin: 0 0 24px;
}

.container {
  max-width: 1320px;
  padding: 0 12px;
}

.row {
  margin: 0 -12px;
}
.row > * {
  padding: 0 12px;
}

.m-24 {
  margin: 24px 0;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-36 {
  margin-bottom: 36px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mt-24 {
  margin-top: 24px;
}

.m-24 {
  margin: 24px 0;
}

.m-64 {
  margin: 64px 0;
}

.h-auto {
  height: auto;
}

.cardWhite {
  background: #fff;
  border-radius: 12px;
}

.color-accent {
  color: #2862AC;
}

a.color-accent {
  color: #2862AC;
}
a.color-accent:hover {
  color: #007BFF;
}

a.color-white {
  color: #fff;
}
a.color-white:hover {
  color: #2862AC;
}

.text-decoration-line {
  text-decoration: underline;
}

.font-500 {
  font-weight: 500;
}

.box-text {
  color: #5A5A5A;
  line-height: 160%;
  font-weight: 300;
}
.box-text p {
  margin: 0 0 12px;
}
.box-text p:last-child {
  margin: 0;
}

.color-black {
  color: #0E0E0E;
}

.color-red {
  color: #D92A2A;
}

.dropdown.show .dropdown-toggle {
  color: #2862AC;
  font-weight: 500;
}

.dropdown-item.active, .dropdown-item:active {
  color: #2862AC;
  background: transparent;
}

.scroll-vertical {
  width: 100%;
}
.scroll-vertical::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 2px;
}
.scroll-vertical::-webkit-scrollbar-track {
  background-color: #2862AC;
  border-radius: 2px;
}
.scroll-vertical::-webkit-scrollbar-track-piece {
  background-color: #E5E7EA;
  border-radius: 2px;
}
.scroll-vertical::-webkit-scrollbar-thumb {
  background-color: #2862AC;
  border-radius: 2px;
}
.scroll-vertical::-webkit-scrollbar-corner {
  background-color: #E5E7EA;
  border-radius: 2px;
}
.scroll-vertical::-webkit-resizer {
  background-color: #2862AC;
  border-radius: 2px;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #2862AC;
}

.slick-slider {
  width: 100%;
}

.slick-slide {
  outline: none;
}

.tibrr-cookie-consent {
  position: fixed;
  z-index: 10;
  bottom: 44px;
  left: 44px;
  border-radius: 24px;
  background: #FFF;
  max-width: 416px;
  width: 100%;
  -webkit-box-shadow: 0px -4px 54px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px -4px 54px 0px rgba(0, 0, 0, 0.1);
}
.tibrr-cookie-consent-text {
  width: 100%;
}
.tibrr-cookie-consent-text-title {
  color: #0E0E0E;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
}

.tibrr-cookie-consent-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 24px 109px 24px 24px;
  width: 100%;
}
.tibrr-cookie-consent-container .box-text {
  margin: 14px 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 140%;
  max-width: 238px;
}

.tibrr-cookie-consent-icon {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 158px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.tibrr-cookie-consent-icon img {
  width: 100%;
}

.tibrr-cookie-consent-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  text-decoration-line: underline;
  color: #2862AC;
}
.tibrr-cookie-consent-button:hover {
  color: #007BFF;
}

.tooltip-wrapper {
  position: relative;
  margin: 0 0 0 4px;
}
.tooltip-wrapper:hover .btn-tooptip {
  background: #2862AC;
  color: #fff;
}

.btn-tooptip {
  cursor: pointer;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(90, 90, 90, 0.1);
  color: #2862AC;
  font-size: 11px;
  font-weight: 500;
  width: 14px;
  height: 14px;
  min-width: 14px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.btn-tooptip:hover ~ .tooltip-box {
  display: block;
}

.btn-tooptip-white {
  background: #fff;
}

.tooltip-box {
  position: absolute;
  z-index: 3;
  min-width: 290px;
  max-width: 290px;
  border-radius: 8px;
  background: #FFF;
  -webkit-box-shadow: 0px -4px 54px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px -4px 54px 0px rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 11px 14px 15px;
  font-weight: 300;
  line-height: 140%;
  font-size: 14px;
  color: #5A5A5A;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-27%, 0);
          transform: translate(-27%, 0);
  margin: 4px 0 0;
  display: none;
}
.tooltip-box__close {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 14px;
  right: 14px;
  background: url("../img/close-blue.svg") no-repeat center;
  background-size: 100%;
  display: none;
}

.nav-tabs {
  width: 100%;
  border-radius: 0;
  border: none;
}
.nav-tabs .nav-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.nav-tabs .nav-link {
  color: #5A5A5A;
  background: transparent;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid rgba(90, 90, 90, 0.25);
  padding: 12px;
  text-align: center;
  width: 100%;
}
.nav-tabs .nav-link:hover {
  color: #2862AC;
}
.nav-tabs .nav-link.active {
  background: transparent;
  color: #2862AC;
  border-bottom: 2px solid #2862AC;
}

.tab-content {
  padding: 24px 0 0;
}

.select-tab {
  background: url("../img/arrow-bottom.svg") no-repeat calc(100% - 10px) center;
  background-size: 8px;
}

.dropdown.show .dropdown-toggle-tab {
  font-weight: 300;
  color: #2862AC;
  color: #5A5A5A;
}

.form-check-label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #0E0E0E;
  font-size: 12px;
  font-weight: 300;
}
.form-check-label input {
  display: none;
}
.form-check-label input:checked ~ .checkbox-custom {
  background: #2862AC url("../img/checked.svg") no-repeat center;
  background-size: 12px;
  border-color: #2862AC;
}
.form-check-label input:checked ~ .checkbox-custom:hover {
  background: #007BFF url("../img/checked.svg") no-repeat center;
  background-size: 12px;
  border-color: #007BFF;
}

.checkbox-custom {
  margin: 0 4px 0 0;
  position: relative;
  border-radius: 2px;
  border: 1px solid #5A5A5A;
  background: #FFF;
  width: 12px;
  height: 12px;
  min-width: 12px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.checkbox-custom:hover {
  border-color: #007BFF;
}

.mainWrapper {
  padding: 76px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.content {
  padding: 48px 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.page {
  position: relative;
}

.breadcrumbs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  color: #5A5A5A;
  font-size: 16px;
  font-weight: 300;
  margin: 0 0 48px;
}
.breadcrumbs li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.breadcrumbs li::after {
  content: "/";
  margin: 0 8px;
  font-size: 16px;
  font-weight: 500;
  color: #2862AC;
}
.breadcrumbs li:last-child::after {
  display: none;
}
.breadcrumbs li a {
  color: #2862AC;
  text-decoration: underline;
}
.breadcrumbs li a:hover {
  color: #007BFF;
}

.application-advantages-list {
  position: relative;
  z-index: 1;
  color: #5A5A5A;
  font-weight: 300;
  line-height: 100%;
  font-size: 16px;
}
.application-advantages-list li {
  position: relative;
  padding: 0 0 0 28px;
  margin: 0 0 24px;
}
.application-advantages-list li:last-child {
  margin: 0;
}
.application-advantages-list li:last-child::after {
  display: none;
}
.application-advantages-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 14px;
  height: 14px;
  background: #2862AC;
  border-radius: 50%;
}
.application-advantages-list li::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 0;
  background: #2862AC;
  width: 2px;
  height: calc(100% + 24px);
}

.list-dots-white {
  color: #fff;
}
.list-dots-white li::before, .list-dots-white li:after {
  background: #fff;
}

.general-box {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 12px;
  padding: 24px;
}
.general-box .titleHome {
  border-bottom: 2px solid #000;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font-size: 14px;
  margin: 12px 0 0;
}
.pagination li {
  margin: 0 5px 0 0;
}
.pagination li:last-child {
  margin: 0;
}
.pagination li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.14px;
  color: #0E0E0E;
  fill: #0E0E0E;
  background: #fff;
  width: 32px;
  height: 32px;
  min-width: 32px;
  border-radius: 8px;
}
.pagination li a:hover, .pagination li a.active {
  background: #2862AC;
  color: #fff;
}
.pagination li a:hover .svg-icon, .pagination li a.active .svg-icon {
  fill: #fff;
}
.pagination li .svg-icon {
  fill: #0E0E0E;
  width: 16px;
  height: 16px;
}
.pagination li span {
  background: #fff;
  width: 32px;
  height: 32px;
  min-width: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px;
}

.table {
  width: 100%;
  font-size: 14px;
  color: #5A5A5A;
  text-align: left;
  margin: 0;
}

.table-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  background: #F4F6F8;
  padding: 0 24px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.table-row:hover {
  background: #fff;
}
.table-row:hover .itemTableTravelBan {
  border-color: transparent;
}

.nameInTable {
  color: #fff;
  border-radius: 12px 12px 0px 0px;
  background: #2862AC;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
}
.nameInTable:hover {
  background: #2862AC;
}
.nameInTable .itemTableTravelBan {
  border: none;
}

.itemTableTravelBan {
  width: 100%;
  padding: 22px 0 20px;
  border-bottom: 4px solid #E5E7EA;
}

.descHome {
  color: #5A5A5A;
  font-weight: 300;
  line-height: 140%;
}

.title-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.progress-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0 0 auto;
}

.progress-steps {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  color: #2862AC;
}

.js-tab-content {
  display: none;
  width: 100%;
}
.js-tab-content.active {
  display: block;
}

.departmens-box {
  width: 100%;
  background: #fff;
  border-radius: 12px;
  font-size: 14px;
  margin: 0 0 24px;
}
.departmens-box__head {
  width: 100%;
  color: #fff;
  padding: 24px;
  background: #2862AC;
  font-weight: 300;
  border-radius: 12px 12px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.departmens-box__title {
  text-transform: uppercase;
  font-weight: 500;
}
.departmens-box__name {
  margin: 8px 0 0;
  width: 100%;
}
.departmens-box__body {
  width: 100%;
  padding: 24px;
}
.departmens-box__body .box-text {
  font-weight: normal;
}
.departmens-box .box-text {
  margin: 0 0 12px;
}
.departmens-box .box-text:last-child {
  margin: 0;
}
.departmens-box-item {
  margin: 0 0 24px;
  width: 100%;
}
.departmens-box-item:last-child {
  margin: 0;
}
.departmens-box-item .h3 {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 100%;
  font-weight: 500;
  margin: 0;
}
.departmens-box-item__title {
  margin: 0 0 12px;
}
.departmens-box-item__body {
  font-weight: 300;
  line-height: 130%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.departmens-box-item a {
  color: #5A5A5A;
}
.departmens-box-item a:hover {
  color: #2862AC;
}
.departmens-box-item-checked {
  display: none !important;
}
.departmens-box__toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  color: #2862AC;
  margin: 24px 0 0;
}
.departmens-box__toggle .svg-icon {
  width: 8px;
  min-width: 8px;
  height: 9px;
  fill: #2862AC;
  margin: 0 0 0 4px;
}
.departmens-box__toggle.trigger .svg-icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.departmens-box__sum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.departmens-box .form-check-label {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 14px;
}
.departmens-box .sum-value {
  color: #5A5A5A;
  font-size: 24px;
  font-weight: bold;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.departmens-box .tooltip-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.departmens-box.click .departmens-box-item-checked {
  display: block !important;
}
.departmens-box.active .departmens-box-form {
  display: none;
}
.departmens-box.active .form-check-label-payment {
  display: none;
}
.departmens-box.active .sum-value {
  font-size: 14px;
  font-weight: normal;
}
.departmens-box.active .sum-value-edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.departmens-box.active .sum-value-paid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
  font-weight: bold;
}

.add-payment {
  color: #fff;
  text-decoration: underline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 500;
  margin: 0 0 0 auto;
}
.add-payment:hover, .add-payment:focus {
  color: #fff;
}
.add-payment:focus {
  text-decoration: underline;
}
.add-payment::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  min-width: 10px;
  background: url("../img/plus.svg") no-repeat center;
  background-size: 100%;
  margin: 0 0 0 4px;
}
.add-payment.trigger:after {
  background: #fff;
  height: 2px;
}

.wrapperPlashka {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: #fff;
  -webkit-box-shadow: 0px -4px 54px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px -4px 54px 0px rgba(0, 0, 0, 0.1);
  padding: 36px 0;
}
.wrapperPlashka .btn {
  max-width: 306px;
  width: 100%;
}

.wrapperPlashkaInfo {
  color: #0E0E0E;
}
.wrapperPlashkaInfo span {
  color: #5A5A5A;
}
.wrapperPlashkaInfo span .color-accent {
  color: #2862AC;
}
.wrapperPlashkaInfo li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 0 12px;
}
.wrapperPlashkaInfo li p {
  margin: 0 0 0 5px;
}
.wrapperPlashkaInfo li:last-child {
  margin: 0;
}

.safeConnection {
  padding: 0 14px 0 0;
  border-right: 2px solid #E5E7EA;
  line-height: 120%;
  color: #5A5A5A;
  margin: 0 14px 0 auto;
  text-align: right;
}
.safeConnection span {
  max-width: 152px;
  display: block;
}

.card {
  border: none;
  border-radius: 12px;
}

.btn-report-sum__nosale {
  display: none;
}
.btn-report-sum.sale-price .btn-report-sum__sale {
  display: none;
}
.btn-report-sum.sale-price .btn-report-sum__nosale {
  display: block;
}

.departmens-box-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.departmens-box-form label {
  max-width: 270px;
  width: 100%;
}
.departmens-box-form.checked .checked-form {
  display: block;
}

.checked-form {
  margin: 0 0 0 11px;
  display: none;
  width: 34px;
}

.sum-value-paid, .sum-value-edit {
  display: none;
}

.sum-value-edit {
  margin: 0 0 0 auto;
}

.input-title__span {
  display: none;
}
.input-title__span.active {
  display: block;
}