/*==========	Desktop First	==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1300px)
	.navbar-nav
		font-size: 12px
		.nav-item
			margin: 0 15px 0 0

	.phoneHeader
		font-size: 12px

	.dropdown-menu
		min-width: 260px
		max-width: 260px

@media only screen and (max-width: 1200px)
	.navbar-light .navbar-toggler
		display: flex

	.wrapperLogoAndBtn
		margin: 0
		width: 100%
		display: flex
		align-items: center
		justify-content: space-between
		
	.navbar-header
		padding: 12px 0

	.wrapperHeader
		flex-wrap: wrap
		.navbar-collapse
						

@media only screen and (max-width: 992px)

@media only screen and (max-width: 768px)

@media only screen and (max-width: 576px)

@media only screen and (max-width: 480px)

@media only screen and (max-width: 420px)

@media only screen and (max-width: 370px)
